pkgbase = SlopeCraft
	pkgdesc = Map Pixel Art Generator for Minecraft
	pkgver = 5.2.1
	pkgrel = 1
	url = https://github.com/SlopeCraft/SlopeCraft
	arch = armv7h
	arch = x86_64
	license = GPL-3-or-later
	makedepends = gcc
	makedepends = cmake
	makedepends = ninja
	makedepends = eigen
	makedepends = git
	makedepends = xsimd
	makedepends = qt6-tools
	makedepends = opencl-headers
	makedepends = opencl-clhpp
	depends = gcc-libs
	depends = glibc
	depends = fmt
	depends = libpng
	depends = libzip
	depends = zlib
	depends = qt6-base
	depends = openmp
	depends = ocl-icd
	source = SlopeCraft::git+https://github.com/SlopeCraft/SlopeCraft.git
	b2sums = SKIP

pkgname = SlopeCraft
